services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - mode: ingress
        target: 80
    environment:
      - VITE_API_URL=https://pixivloader-backend.defang.dev
      - VITE_SUPABASE_URL=https://qkxauxnpwbshsjbbonrt.supabase.co
      - VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFreGF1eG5wd2JzaHNqYmJvbnJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NzU1NjIsImV4cCI6MjA3OTA1MTU2Mn0.-_D-BtttlVwQMuwaKERqQTj3PCZNu9_HOq-c091g_fs

  backend:
    build:
      context: ./python-backend
      dockerfile: Dockerfile
    ports:
      - mode: ingress
        target: 8080
    environment:
      - PORT=8080
      - FLASK_ENV=production
      - SUPABASE_URL=https://qkxauxnpwbshsjbbonrt.supabase.co
      - SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFreGF1eG5wd2JzaHNqYmJvbnJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NzU1NjIsImV4cCI6MjA3OTA1MTU2Mn0.-_D-BtttlVwQMuwaKERqQTj3PCZNu9_HOq-c091g_fs
      - SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFreGF1eG5wd2JzaHNqYmJvbnJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NzU1NjIsImV4cCI6MjA3OTA1MTU2Mn0.-_D-BtttlVwQMuwaKERqQTj3PCZNu9_HOq-c091g_fs
      - PIXIV_PHPSESSID=107895576_FNUmaOI5U7gYh7dYv1ap6j8YDAmwrfEM
      - FRONTEND_URL=https://pixivloader.defang.dev
    deploy:
      resources:
        reservations:
          memory: 1G
